@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideDown {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}
